@use "../abstracts/variables" as *;
.searcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;

  input {
    background-color: #e2e2e2;
    color: $text-color;
    padding: 8px 12px;
    font-weight: 100;
    font-size: 1.3rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 480px;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: $text-color;
    }

    &::placeholder {
      text-align: center;
      color: #aaa;
    }
  }
}

@media (max-width: 600px) {
  .searcher {
    width: 80%; /* Hace que ocupe solo el 80% del ancho en pantallas pequeñas */
    margin: 0 auto;
    margin-top: 1rem; /* Centra el buscador en el contenedor */
    input {
      width: 100%; /* El input sigue ocupando todo el ancho del contenedor */
      padding: 0.6rem;
      font-size: 0.9rem;
    }
  }
}
