@use "../abstracts/variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
}
